* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('/assets/img/pokemon-background.jpg');
    background-position: center;
}
header {
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: #c71515;
    color: #fff;
    opacity: 0.8;
    justify-content: center;
    margin:auto;
    padding: 10px 5px;
    width: 101%;
    border-radius: 2rem;
    box-sizing: border-box;
}
.pokeball {
    height: 100px;
    
}
header .pokeball {
    padding: auto;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
  
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}